Repository SatelliteQE/robottelo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SatelliteQE/robottelo-tier-1-reviewers, @SatelliteQE/robottelo-tier-2-reviewers, @SatelliteQE/phoenix

.github/CODEOWNERS:

# Tier Codeowners for framework based changes

* @SatelliteQE/robottelo-tier-1-reviewers

/* @SatelliteQE/robottelo-tier-2-reviewers

/.github/ @SatelliteQE/robottelo-tier-2-reviewers

/conf/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_fixtures/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_plugins/ @SatelliteQE/robottelo-tier-2-reviewers

/robottelo/ @SatelliteQE/robottelo-tier-2-reviewers

/scripts/ @SatelliteQE/robottelo-tier-2-reviewers

/tests/foreman/sanity/ @SatelliteQE/robottelo-tier-2-reviewers

# Team Codeowners for test based changes

# Phoenix
/tests/foreman/api/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/api/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentviewfilter.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentviewversion.py @SatelliteQE/phoenix
/tests/foreman/api/test_docker.py @SatelliteQE/phoenix
/tests/foreman/api/test_errata.py @SatelliteQE/phoenix
/tests/foreman/api/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/api/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/api/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/api/test_product.py @SatelliteQE/phoenix
/tests/foreman/api/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/api/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/api/test_repository.py @SatelliteQE/phoenix
/tests/foreman/api/test_repository_set.py @SatelliteQE/phoenix
/tests/foreman/api/test_rhsm.py @SatelliteQE/phoenix
/tests/foreman/api/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/api/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/cli/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/cli/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentaccess.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentviewfilter.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/cli/test_docker.py @SatelliteQE/phoenix
/tests/foreman/cli/test_errata.py @SatelliteQE/phoenix
/tests/foreman/cli/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/cli/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/cli/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/cli/test_ostreebranch.py @SatelliteQE/phoenix
/tests/foreman/cli/test_product.py @SatelliteQE/phoenix
/tests/foreman/cli/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repository.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repository_set.py @SatelliteQE/phoenix
/tests/foreman/cli/test_satellitesync.py @SatelliteQE/phoenix
/tests/foreman/cli/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/cli/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/cli/test_vm_install_products_package.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_contenthost.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_repository.py @SatelliteQE/phoenix
/tests/foreman/longrun/test_inc_updates.py @SatelliteQE/phoenix
/tests/foreman/ui/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/ui/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/ui/test_containerimagetag.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contenthost.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentview_old.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/ui/test_errata.py @SatelliteQE/phoenix
/tests/foreman/ui/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/ui/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/ui/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/ui/test_modulestreams.py @SatelliteQE/phoenix
/tests/foreman/ui/test_package.py @SatelliteQE/phoenix
/tests/foreman/ui/test_product.py @SatelliteQE/phoenix
/tests/foreman/ui/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/ui/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/ui/test_repository.py @SatelliteQE/phoenix
/tests/foreman/ui/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/ui/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/ui/test_sync.py @SatelliteQE/phoenix
/tests/foreman/virtwho/ @SatelliteQE/phoenix

ui_session: return airgun session as a context manager
  robottelo/hosts.py
Owners: @SatelliteQE/robottelo-tier-2-reviewers

[6.15.z] [pre-commit.ci] pre-commit autoupdate (#15055)
  .pre-commit-config.yaml
Owners: @SatelliteQE/robottelo-tier-2-reviewers

[6.14.z] [pre-commit.ci] pre-commit autoupdate (#15054)
  .pre-commit-config.yaml
Owners: @SatelliteQE/robottelo-tier-2-reviewers

[6.13.z] [pre-commit.ci] pre-commit autoupdate (#15052)
  .pre-commit-config.yaml
Owners: @SatelliteQE/robottelo-tier-2-reviewers

[6.12.z] [pre-commit.ci] pre-commit autoupdate (#15053)
  .pre-commit-config.yaml
Owners: @SatelliteQE/robottelo-tier-2-reviewers

[6.14.z] Bump el9 kickstart version to 9.4 (#15020)
  robottelo/constants/__init__.py
  tests/foreman/cli/test_leapp_client.py
Owners: @SatelliteQE/robottelo-tier-2-reviewers, @SatelliteQE/robottelo-tier-1-reviewers

Add preconversion check for convert2rhel (#15044)
  tests/foreman/api/test_convert2rhel.py
Owners: @SatelliteQE/robottelo-tier-1-reviewers

code coverage bug2063218 (#14308)
  robottelo/utils/virtwho.py
  tests/foreman/virtwho/api/test_nutanix.py
  tests/foreman/virtwho/cli/test_esx_sca.py
  tests/foreman/virtwho/cli/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix_sca.py
Owners: @SatelliteQE/robottelo-tier-2-reviewers, @SatelliteQE/phoenix

code coverage bug2063218 (#14308)
  robottelo/utils/virtwho.py
  tests/foreman/virtwho/api/test_nutanix.py
  tests/foreman/virtwho/cli/test_esx_sca.py
  tests/foreman/virtwho/cli/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix_sca.py
Owners: @SatelliteQE/robottelo-tier-2-reviewers, @SatelliteQE/phoenix

[6.15.z] code coverage bug2063218 (#15059)
  robottelo/utils/virtwho.py
  tests/foreman/virtwho/api/test_nutanix.py
  tests/foreman/virtwho/cli/test_esx_sca.py
  tests/foreman/virtwho/cli/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix.py
  tests/foreman/virtwho/ui/test_nutanix_sca.py
Owners: @SatelliteQE/robottelo-tier-2-reviewers, @SatelliteQE/phoenix
