Repository SatelliteQE/robottelo, pull requests merged in 2018-12, with the labels that each got.

#6502 Added negative API test for SSH Key name validation
  tests/foreman/api/test_user.py
Labels: review

#6521 Added negative API test for SSH Key name validation
  tests/foreman/api/test_user.py
Labels: review

#6514 automated brute force protection limit configurable function: failed_login_attempts_limit
  tests/foreman/cli/test_setting.py
Labels: 6.5, CLI, review

#6524 Fixes HostGroupTestCase::test_positive_create_with_multiple_entities_ids
  tests/foreman/cli/test_hostgroup.py
Labels: review

#6520 Added decorator to skip the tests case due to open Bugzilla 1655595
  tests/foreman/api/test_syncplan.py
  tests/foreman/cli/test_syncplan.py
  tests/foreman/ui_airgun/test_syncplan.py
Labels: review

#6487 Port cv incremental update tests
  tests/foreman/ui/test_contentview.py
  tests/foreman/ui_airgun/test_contentview.py
Labels: review

#6436 Added cli tests for module stream 6.5 feature
  robottelo/cli/module_stream.py
  robottelo/constants.py
  tests/foreman/cli/test_contentview.py
  tests/foreman/cli/test_repository.py
Labels: 6.5, CLI, review

#6498 Ported few UI organzations tests
  tests/foreman/ui/test_organization.py
  tests/foreman/ui_airgun/test_organization.py
Labels: 6.5, UI, review

#6516 default interval for make_syncplan 2nd try
  robottelo/cli/factory.py
Labels: 6.5, CLI

#6536 Add end to end to location and organization entities
  tests/foreman/ui_airgun/test_location.py
  tests/foreman/ui_airgun/test_organization.py
Labels: 6.5, UI, review

#6528 ansible rex job
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.5, CLI

#6546 Added decorator skip_if_bug_open for test_positive_synchronize_ostree…
  tests/foreman/cli/test_repository.py
Labels: 6.4, CLI, review

#6539 Updated installer flags/options for 6.5
  tests/foreman/installer/test_installer.py
Labels: 6.5, review, test-failure

#6537 decluttering the cli rex testcase
  tests/foreman/cli/test_remoteexecution.py
Labels: review

#6552 [6.5] UI Fixes OS test_positive_update_template
  tests/foreman/ui_airgun/test_operatingsystem.py
Labels: 6.5, UI, review, test-failure

#6554 fix datetime log pattern in test_positive_check_installer_logfile
  tests/foreman/installer/test_installer.py
Labels: 6.5

#6547 [6.5] UI Fixes tier3 test_hostcollection
  robottelo/api/utils.py
  tests/foreman/ui_airgun/test_hostcollection.py
Labels: 6.5, UI, review, test-failure

#6551 Add end to end scenario for subnet entity
  tests/foreman/ui_airgun/test_subnet.py
Labels: 6.5, UI, review

#6541 some ansible rex tests unstubbed
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.5, CLI

#6553 Fixes contentview test_negative_add_dupe_repos
  tests/foreman/ui_airgun/test_contentview.py
Labels: 6.5, UI, review, test-failure

#6572 [API]Added coverage for ldapauthsource
  tests/foreman/api/test_ldapauthsource.py
Labels: 6.5, API, qe_test_coverage, review

#6356 Test RHEV VM Import (bz1636067)
  tests/foreman/ui_airgun/test_computeresource.py
Labels: review

#6534 [6.5] UI Port compute resource RHV tests
  robottelo/api/utils.py
  tests/foreman/ui/test_computeresource_rhev.py
  tests/foreman/ui_airgun/test_computeresource.py
  tests/foreman/ui_airgun/test_computeresource_ec2.py
Labels: 6.5, UI, review

#6530 Port puppet environment tests
  tests/foreman/ui/test_environment.py
  tests/foreman/ui_airgun/test_puppetenvironment.py
Labels: 6.5, UI, review

#6567 Updated the exception for test 'test_positive_access_protected_reposi…
  tests/foreman/api/test_repository.py
Labels: 6.4, API, test-failure

#6577 Sat 6.5 has added new permissions
  robottelo/constants.py
Labels: 6.5, review

#6569 [6.5] Updated the exception for test test_positive_access_protected_repository
  tests/foreman/api/test_repository.py
Labels: 6.5, API, test-failure

#6586 Added skip_if_bug_open for Bugzilla '1654944'
  tests/foreman/api/test_repository.py
  tests/foreman/cli/test_repository.py
Labels: 6.5, API, CLI, qe_test_coverage, test-failure

#6587 Fixed assertion for 'test_positive_publish_custom_content_module_stream'
  tests/foreman/cli/test_contentview.py
Labels: 6.5, CLI, qe_test_coverage, test-failure

#6589 Fixes discovered hosts tests for multiple proxies
  robottelo/cli/factory.py
Labels: 6.5, CLI, review, test-failure
