Repository SatelliteQE/robottelo, pull requests merged in 2019-04, with the labels that each got.

#6837 Added DiscoveredHost widget test
  tests/foreman/ui_airgun/test_dashboard.py
Labels: 6.5, UI, qe_test_coverage

#6839 adding wait_for after errata apply
  tests/upgrades/test_errata.py
Labels: Upgrade Scenario, test-failure

#6841 Added test checksum with background policy
  tests/foreman/api/test_repository.py
Labels: 6.5, API, qe_test_coverage

#6843 added dashboard virtwho widgettest
  tests/foreman/ui_airgun/test_dashboard.py
Labels: 6.5, UI, qe_test_coverage

#6846 Fixes dashboard oscap policy test
  tests/foreman/ui_airgun/test_oscappolicy.py
Labels: 6.5, test-failure

#6826 Ported scap UI e2e test to CLI
  robottelo/cli/arfreport.py
  robottelo/constants.py
  robottelo/vm.py
  tests/foreman/longrun/test_oscap.py
Labels: 6.5, ready, review

#6563 Upgrade proposal infra
  tests/foreman/upgrade/__init__.py
  tests/foreman/upgrade/conftest.py
  tests/foreman/upgrade/test_syncplan.py
Labels: Infrastructure, review

#6853 Used released wrapanapi and pin it with tested version
  requirements.txt
  tests/foreman/longrun/test_provisioning_computeresource.py
Labels: 6.5, High Priority, test-failure

#6783 [6.5] UI Port smart variable tests
  tests/foreman/ui/test_variables.py
  tests/foreman/ui_airgun/test_smartvariable.py
Labels: 6.5, UI, review

#6863 Added Custom repo scenario
  tests/upgrades/test_contentview.py
  tests/upgrades/test_repository.py
Labels: Upgrade Scenario

#6875 added depend on under post upgrade
  tests/foreman/upgrade/test_syncplan.py
  tests/upgrades/conftest.py
  tests/upgrades/test_repository.py
Labels: Upgrade Scenario

#6869 fixed issue 6814, now passing activation key name
  tests/upgrades/test_errata.py
Labels: Upgrade Scenario, test-failure
