Repository SatelliteQE/robottelo, pull requests merged in 2019-02, with the labels that each got.

#6699 Scenario repository upstream authorization check Bug1641785
  tests/upgrades/test_repository.py
Labels: 6.5, Upgrade Scenario, qe_test_coverage

#6707 Updated assertion
  tests/upgrades/test_repository.py
Labels: 6.5, Upgrade Scenario

#6706 Fixes CLI Manifest upload timeout
  robottelo/cli/subscription.py
  robottelo/manifests.py
  robottelo/test.py
Labels: CLI, Infrastructure, review, test-failure

#6708 Fixes UI Subscription test_positive_end_to_end
  tests/foreman/ui_airgun/test_subscription.py
Labels: 6.5, UI, review, test-failure

#6712 Updated test auto-attach
  tests/upgrades/test_subscription.py
Labels: 6.5, High Priority, Upgrade Scenario

#6713 Updated the foreman rakes
  tests/upgrades/test_repository.py
Labels: 6.5, Upgrade Scenario

#6681 [Cherry-pick 6.3.z] Automated REX Satellite-Client scenario
  tests/upgrades/test_remoteexecution.py
Labels: 6.3, Upgrade Scenario, qe_test_coverage

#6631 Port UI compute_resource_vmware tests
  robottelo/constants.py
  tests/foreman/ui/test_computeresource_vmware.py
  tests/foreman/ui_airgun/test_computeresource_vmware.py
Labels: 6.5, UI, review

#6662 Added cli coverage for ldap auth
  tests/foreman/cli/test_ldapauthsource.py
  tests/foreman/cli/test_usergroup.py
Labels: 6.5, CLI, review

#6719 Updated test ostree Bug 1672491
  tests/foreman/cli/test_repository.py
Labels: 6.4, CLI, test-failure

#6726 Fixes ssh base64.decodestring + tests DeprecationWarning
  robottelo/ssh.py
  tests/robottelo/test_cli.py
  tests/robottelo/test_ssh.py
  tests/robottelo/test_ui_locators.py
Labels: Infrastructure, python3, review

#6659 Port UI Remote Execution tests
  requirements.txt
  tests/foreman/ui/test_remoteexecution.py
  tests/foreman/ui_airgun/test_jobinvocation.py
  tests/foreman/ui_airgun/test_jobtemplate.py
  tests/foreman/ui_airgun/test_remoteexecution.py
Labels: 6.5, UI, review

#6729 fixed waiting for recurring job
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.5, CLI

#6731 capsule katello ca
  robottelo/vm.py
Labels: 6.4, Upgrade Scenario, test-failure

#6721 some refactoring for organization cli @tier2 tests
  tests/foreman/cli/test_organization.py
Labels: 6.5, CLI

#6688 Ported UI LDAP Authentication tests
  tests/foreman/ui/test_adusergroup.py
  tests/foreman/ui_airgun/test_ldap_authentication.py
Labels: 6.5, UI, review

#6689 Port more cv tests
  robottelo/api/utils.py
  tests/foreman/ui/test_contentview.py
  tests/foreman/ui_airgun/test_contentview.py
Labels: 6.5, UI, review

#6753 Added skip_if_bug_open of 1670125
  tests/foreman/ui_airgun/test_repository.py
Labels: 6.5, UI, test-failure

#6746 Fix to handle interval custom cron (#6745)
  tests/foreman/api/test_syncplan.py
Labels: 6.5, API, review, test-failure

#6683 Fixes 6.5 UI contentview check_composite_cv_addition_list_versions
  tests/foreman/ui_airgun/test_contentview.py
Labels: 6.5, UI, review, test-failure

#6736 [6.5] UI Create discoveryrule test_positive_end_to_end
  tests/foreman/ui_airgun/test_discoveryrule.py
Labels: 6.5, UI, review

#6735 Added activation key and hostgroup scenario tests
  tests/upgrades/test_activation_key.py
  tests/upgrades/test_hostgroup.py
Labels: 6.5, Upgrade Scenario, review

#6751 [6.5] UI Port role tests
  tests/foreman/ui/test_role.py
  tests/foreman/ui_airgun/test_role.py
Labels: 6.5, UI, review

#6763 Fixing robottelo 6762, adding stream_version attribute
  tests/foreman/ui_airgun/test_modulestreams.py
Labels: 6.5, UI

#6696 [6.5] UI Port hosts tests
  tests/foreman/ui/test_host.py
  tests/foreman/ui_airgun/test_host.py
Labels: 6.5, UI, review
