Repository SatelliteQE/robottelo, pull requests merged in 2019-12, with the labels that each got.

#7516 Fixed cli auth test cases
  robottelo/cli/auth.py
  tests/foreman/cli/test_auth.py
Labels: 6.7, CLI, review

#7497 Add endtoend tests to run in automation
  tests/foreman/endtoend/test_api_endtoend.py
  tests/foreman/endtoend/test_cli_endtoend.py
Labels: review

#7495 Update case as Last Checkin Time is no longer UTC time
  tests/foreman/virtwho/test_ui_virtwho.py
Labels: 6.7

#7536 update editor tab name and test for description
  tests/foreman/ui/test_jobinvocation.py
  tests/foreman/ui/test_jobtemplate.py
  tests/foreman/ui/test_remoteexecution.py
Labels: 6.7

#7474 basic host view with neccesary permisssions with non-admin-user
  tests/foreman/ui/test_host.py
Labels: qe_test_coverage

#7539 fix ui.provisioningtemplate.py::test_positive_clone test case
  tests/foreman/ui/test_provisioningtemplate.py
Labels: test-failure

#7549 more isolation for rename tests
  tests/foreman/sys/test_rename.py
Labels: 6.7, SYS, test-failure

#7550 fixing test for duplicate help output
  tests/foreman/cli/test_organization.py
Labels: 6.7, CLI, test-failure
