Repository SatelliteQE/robottelo, pull requests merged in 2019-07, with the labels that each got.

#7087 Remove DockerHubContainer, DockerRegistryContainer, DockerComputeResource entities as no longer exist in 6.6
  tests/foreman/api/test_role.py
  tests/foreman/api/test_user.py
Labels: 6.6, Bug

#7093 fixed test test_positive_assign_compliance_policy
  tests/foreman/ui/test_host.py
Labels: UI, test-failure

#7096 fixed test test_positive_update_filter_affected_repos
  tests/foreman/ui/test_contentview.py
Labels: UI, test-failure

#7105 Increased timeout for reposync
  tests/upgrades/test_yum_plugins.py
Labels: 6.6, Upgrade Scenario

#7111 reverted the manifest_clone
  tests/upgrades/test_subscription.py
Labels: 6.6

#7090 fixed the goferd checking process
  tests/upgrades/test_errata.py
Labels: Upgrade Scenario, test-failure

#7109 fixed test_positive_host_configuration_status
  tests/foreman/ui/test_dashboard.py
Labels: UI, test-failure

#7100 smart variables refactor
  tests/foreman/api/test_variables.py
  tests/foreman/cli/test_variables.py
Labels: 6.6, CLI

#7094 Fix containers removal upgrade tests
  tests/upgrades/test_containers_removal.py
Labels: High Priority, Upgrade Scenario, test-failure

#7118 [cherry-pick] Fixing Satellite subscription name we have in the manifest now
  robottelo/constants.py
Labels: 6.5

#7119 [cherry-pick] Fixing Satellite subscription name we have in the manifest now
  robottelo/constants.py
Labels: 6.4

#7041 [6.6 Feature] GCE CR End To End Scenario
  robottelo.properties.sample
  robottelo/config/base.py
  robottelo/constants.py
  tests/foreman/ui/test_computeresource_gce.py
Labels: 6.6, UI

#7122 fixed UI tests failed because of #7121
  tests/foreman/ui/test_contentview.py
Labels: UI, test-failure

#7128 test_yum_plugins timeout increased
  tests/upgrades/test_yum_plugins.py
Labels: test-failure

#7144 Fixes bz flagged for 6.6.0 deselected tests
  robottelo/bz_helpers.py
Labels: 6.6, Bug, Urgent Priority, review

#7143 fix for cli vars list test
  tests/foreman/cli/test_variables.py
Labels: 6.5, CLI, test-failure

#7137 destructive tests should not be part of tiers ?
  tests/foreman/sys/test_rename.py
Labels: UI, test-failure

#7142 vars cli fix name selection
  tests/foreman/cli/test_variables.py
Labels: 6.5, CLI

#7127 fixed UI activation key tests with table empty issue
  tests/foreman/ui/test_activationkey.py
Labels: UI, test-failure

#7168 Fixed UI tests : added fix to delete all user based on auth source
  tests/foreman/ui/test_ldap_authentication.py
Labels: UI, test-failure

#7176 Fixes environment-id issue
  robottelo/cli/factory.py
  tests/foreman/longrun/test_oscap.py
Labels: 6.6, test-failure

#7135 cli org fixed assertion
  tests/foreman/cli/test_organization.py
Labels: 6.6, CLI, test-failure

#7190 Added ignore to flash 404 Not Found
  tests/foreman/ui/test_activationkey.py
Labels: 6.6, UI

#7197 fixed ui tests for remote_execution
  tests/foreman/ui/test_remoteexecution.py
Labels: UI, test-failure

#7198 Added automation around BZ#1713553
  tests/foreman/cli/test_operatingsystem.py
Labels: 6.6, CLI

#7177 fixing ui tests for product search with empty message
  tests/foreman/ui/test_product.py
Labels: UI, test-failure

#7193 Cherry-pick two Sync Plan changes
  tests/foreman/cli/test_syncplan.py
Labels: 6.5

#7184 removing asseration as table returning empty message
  tests/foreman/ui/test_contentcredential.py
Labels: UI, test-failure

#7194 ansible recurring rex -- fixed waiting for execution
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.6, CLI, test-failure

#7188 fix_ui test : added manifest code to see tables
  tests/foreman/ui/test_subscription.py
Labels: UI, test-failure

#7209 test create and update refacor
  tests/foreman/cli/test_subnet.py
Labels: 6.6, CLI

#7214 appended the location to capsule to visible host yaml
  tests/foreman/ui/test_host.py
Labels: UI

#7205 Run local web UI tests in headless mode
  robottelo.properties.sample
  robottelo/config/base.py
Labels: review

#7212 fixed table issue with empty message
  tests/foreman/ui/test_contentview.py
Labels: UI, test-failure

#7219 updated assertion based on table
  tests/foreman/ui/test_lifecycleenvironment.py
Labels: UI, test-failure

#7222 Deleted duplicated tests in test_hostgroup, some tests merged into one
  tests/foreman/cli/test_hostgroup.py
Labels: 6.6, CLI

#7224 Fixes the parallel execution of scap tests
  tests/foreman/longrun/test_oscap.py
Labels: 6.6, test-failure

#7226 fixed test test_positive_module_stream_details_search_in_repo
  tests/foreman/ui/test_modulestreams.py
Labels: UI, test-failure

#7225 Reduced number of tests in api/test_hostgroup.py
  tests/foreman/api/test_hostgroup.py
Labels: 6.6, API
