Repository SatelliteQE/robottelo, pull requests merged in 2019-06, with the labels that each got.

#6981 added wait for host status and location
  tests/upgrades/test_subscription.py
  tests/upgrades/test_yum_plugins.py
Labels: qe_test_coverage

#6987 updated repo_auth test on version 6.6
  tests/upgrades/test_repository.py
Labels: test-failure

#7005 Update idna and requests
  requirements.txt
Labels: review

#7001 tested and updated pytest-mock version 1.10.4
  requirements.txt
Labels: review

#6998 Updated and tested mock mod/lib
  requirements.txt
Labels: review

#7019 Updated requests exception
  tests/foreman/api/test_repository.py
Labels: 6.6, API, test-failure

#7017 some refactoring for cli and api environment tests
  tests/foreman/api/test_environment.py
  tests/foreman/cli/test_environment.py
Labels: 6.6, API, CLI

#7016 some refactoring for cli and api location tests
  tests/foreman/api/test_location.py
  tests/foreman/cli/test_location.py
Labels: 6.6, API, CLI

#7026 Moved pre-scenario dependency to cdn
  robottelo/constants.py
  tests/upgrades/test_yum_plugins.py
Labels: 6.6, Upgrade Scenario

#7036 Updated the RHEL6 Scap profile
  robottelo/constants.py
  tests/foreman/cli/test_oscap.py
Labels: 6.6

#6991 migrated some tests of settings from ui to ui_airgun
  tests/foreman/ui_airgun/test_settings.py
Labels: UI

#7040 Added test around hostgroup rebuild config
  tests/foreman/api/test_hostgroup.py
Labels: 6.6, API, qe_test_coverage

#7047 Hammer-csv automation tests removed
  robottelo/cli/csv_.py
  tests/foreman/cli/test_subscription.py
Labels: 6.6, CLI, test-failure

#7049 Fixes ldap authentication UI tests
  tests/foreman/ui/test_ldap_authentication.py
Labels: 6.6, UI, review

#7067 Fixed UI test failures for Users and Bookmarks Component
  robottelo/constants.py
Labels: 6.6, UI, test-failure

#7065 Remove docker compute resource CLI test cases
  tests/foreman/cli/test_docker.py
Labels: 6.6, CLI, review
