Repository SatelliteQE/robottelo, pull requests merged in 2019-05, with the labels that each got.

#6889 Added portupgrade depend_on
  tests/upgrades/test_activation_key.py
  tests/upgrades/test_capsule.py
  tests/upgrades/test_classparameter.py
  tests/upgrades/test_client.py
  tests/upgrades/test_contentview.py
  tests/upgrades/test_errata.py
  tests/upgrades/test_hostgroup.py
  tests/upgrades/test_remoteexecution.py
  tests/upgrades/test_role.py
  tests/upgrades/test_subscription.py
  tests/upgrades/test_syncplan.py
  tests/upgrades/test_yum_plugins.py
Labels: Upgrade Scenario

#6892 [Cherry-pick] Added portupgrade depend_on
  tests/upgrades/test_activation_key.py
  tests/upgrades/test_capsule.py
  tests/upgrades/test_classparameter.py
  tests/upgrades/test_client.py
  tests/upgrades/test_contentview.py
  tests/upgrades/test_errata.py
  tests/upgrades/test_hostgroup.py
  tests/upgrades/test_remoteexecution.py
  tests/upgrades/test_role.py
  tests/upgrades/test_subscription.py
  tests/upgrades/test_syncplan.py
  tests/upgrades/test_yum_plugins.py
Labels: 6.5, Upgrade Scenario

#6905 fixing the scsi_controller_type to a proper value - VirtualLsiLogicController
  tests/foreman/longrun/test_provisioning_computeresource.py
Labels: test-failure

#6906 added support for host_collection module streams tests
  robottelo/constants.py
  tests/foreman/ui_airgun/test_hostcollection.py
Labels: UI

#6908 Environment Variables for upgrade scenarios are now robottelo properties - Phase 1
  robottelo.properties.sample
  robottelo/config/base.py
  tests/upgrades/test_capsule.py
  tests/upgrades/test_errata.py
Labels: review

#6926 Updated metadata of few repo tests
  tests/foreman/api/test_repository.py
  tests/foreman/cli/test_repository.py
Labels: API, CLI

#6718 Adding 2 additional tests to subscription for selectable customizable…
  tests/foreman/ui_airgun/test_subscription.py
Labels: 6.5, UI, review

#6941 Fixes issue #6898 Updating API end-point.
  tests/foreman/endtoend/test_api_endtoend.py
Labels: 6.5, API

#6935 Updated installer options
  tests/foreman/installer/test_installer.py
Labels: qe_test_coverage

#6953 added support for host_collection module streams tests (#6906)
  robottelo/constants.py
  tests/foreman/ui_airgun/test_hostcollection.py
Labels: 6.5, UI, pending-cherry-pick

#6962 Increase in time-out as the repos sync taking more time
  tests/upgrades/test_errata.py
Labels: Upgrade Scenario, review, test-failure

#6967 skipping puppetmodule api test
  tests/foreman/api/test_puppetmodule.py
Labels: 6.6, API

#6943 added test cases for swid tag feature
  robottelo.properties.sample
  robottelo/config/base.py
  robottelo/constants.py
  tests/foreman/api/test_contentview.py
  tests/foreman/api/test_contentviewfilter.py
  tests/foreman/api/test_errata.py
Labels: 6.6

#6969 Add 6.5.z upgrade requirement
  requirements.txt
Labels: review

#6968 Use stable-satellite nailgun branch
  requirements.txt
Labels: review

#6971 fixes tier1 and tier2 testcases of tests.foreman.cli.test_satellitesync.ContentViewSync
  tests/foreman/cli/test_satellitesync.py
Labels: 6.6, CLI

#6880 Remove the entity cleaner support as nailgun will no longer support
  requirements-optional.txt
  robottelo.properties.sample
  robottelo/cleanup.py
  robottelo/config/base.py
  tests/foreman/conftest.py
Labels: High Priority, ready, review

#6978 fixes #4738 - removing the installer log test entirely
  tests/foreman/installer/test_installer.py
Labels: 6.6, test-failure
