Repository SatelliteQE/robottelo, pull requests merged in 2019-03, with the labels that each got.

#6776 Added end to end ui test for module streams in repository
  tests/foreman/ui_airgun/test_repository.py
Labels: 6.5, UI, ready, review

#6779 Added loaded yum plugins count scenario
  tests/upgrades/test_yum_plugins.py
Labels: 6.5, Upgrade Scenario, qe_test_coverage

#6778 Add end to end scenario for hardware models
  robottelo/ui/utils.py
  tests/foreman/ui_airgun/test_computeprofiles.py
  tests/foreman/ui_airgun/test_hardwaremodel.py
  tests/foreman/ui_airgun/test_host.py
  tests/foreman/ui_airgun/test_puppetenvironment.py
Labels: 6.5, UI, review

#6785 Extend product with Docker, Puppet, OSTree repos
  robottelo/products.py
  tests/foreman/cli/test_vm_install_products_package.py
Labels: 6.5, CLI, Infrastructure

#6786 additional parameters in [vlan networking] config section
  robottelo.properties.sample
  robottelo/config/base.py
  robottelo/vm.py
Labels: review

#6805 Added validation to see the goferd running on content host
  tests/upgrades/test_client.py
Labels: 6.5, Upgrade Scenario, qe_test_coverage

#6813 [6.5] UI RHAI implement missing tests
  tests/foreman/rhai/test_rhai.py
Labels: 6.5, UI, review

#6817 updated method name and count for failed test_module_stream_repository_crud_operations
  tests/foreman/api/test_repository.py
Labels: 6.5, API, test-failure

#6738 test foreman hooks
  tests/foreman/sys/test_hooks.py
Labels: 6.5, SYS

#6810 Updated the computeresource long run test for RHV and VMware
  tests/foreman/longrun/test_provisioning_computeresource.py
Labels: 6.5, ready, review

#6765 Add coverage around bz1671148
  robottelo/cli/factory.py
  tests/foreman/cli/test_host.py
Labels: CLI, DO NOT MERGE, qe_test_coverage

#6822 Updated and added checksum tests
  tests/foreman/api/test_repository.py
  tests/foreman/cli/test_repository.py
  tests/foreman/ui_airgun/test_repository.py
Labels: 6.5, qe_test_coverage, test-failure

#6831 skip-bug-1689504 for test_positive_sync_rh_atomic
  tests/foreman/api/test_repository.py
Labels: 6.5, API, test-failure

#6744 [6.5 Feature] Content View Export Import - Part 2 - automated
  tests/foreman/cli/test_satellitesync.py
Labels: review
