Repository SatelliteQE/robottelo, pull requests merged in 2019-01, with the labels that each got.

#6591 Updated condition if create Capsule VM failed during setup
  robottelo/vm_capsule.py
Labels: 6.5, Infrastructure, Urgent Priority, test-failure

#6555 Ported hammer based secnario to Nailgun
  robottelo/api/utils.py
  tests/upgrades/test_client.py
Labels: 6.4, Upgrade Scenario, qe_test_coverage, review

#6593 6.3.z [Cherry-Pick] Ported hammer based secnario to Nailgun
  robottelo/api/utils.py
  tests/upgrades/test_client.py
Labels: 6.3, Upgrade Scenario

#6594 6.2.z[Cherry-pick] Ported hammer based secnario to Nailgun
  robottelo/api/utils.py
  tests/upgrades/test_client.py
Labels: 6.2, Upgrade Scenario

#6599 fix duplicate distro option in rob.properties
  robottelo.properties.sample
Labels: 6.5

#6592 [cherry-pick] removing cli.test_user - test_positive_update_all_roles
  tests/foreman/cli/test_user.py
Labels: 6.4, CLI, review, test-failure

#6613 Updated the call_entity_method_with_timeout as per robottelo
  tests/upgrades/test_client.py
Labels: 6.5, Upgrade Scenario, qe_test_coverage, test-failure

#6527 Add CLI tests around Registry Name Pattern field
  robottelo/cli/factory.py
  tests/foreman/cli/test_docker.py
  tests/foreman/cli/test_lifecycleenvironment.py
Labels: review

#6588 [6.5] UI Port computeresource_libvirt
  tests/foreman/ui_airgun/test_computeresource_libvirt.py
Labels: 6.5, UI, review

#6575 Ported hammer based secnario to Nailgun capsule-sync
  tests/upgrades/test_capsule.py
Labels: 6.4, Upgrade Scenario

#6614 [Cherry-pick 6.3.z] Updated the call_entity_method_with_timeout as per robottelo
  requirements.txt
  tests/upgrades/test_client.py
Labels: 6.3, Upgrade Scenario, qe_test_coverage, test-failure

#6513 Add API tests around Registry Name Pattern field
  tests/foreman/api/test_docker.py
Labels: 6.5, API, review

#6608 Fixed the repository update with url field
  tests/foreman/api/test_repository.py
Labels: 6.5, API, qe_test_coverage, test-failure

#6450 Change def setUp to def setUpClass
  tests/foreman/cli/test_contentview.py
Labels: 6.5, CLI, review

#6624 Update the Bugzilla to fix test_positive_synchronize_rpm_repo_ignore_…
  tests/foreman/cli/test_repository.py
Labels: 6.5, CLI, qe_test_coverage, test-failure

#6619 Ported hammer based secnario to Nailgun capsule-sync
  tests/upgrades/test_capsule.py
Labels: 6.5, Upgrade Scenario

#6620 [Cherry-pick 6.3.z] Ported hammer based secnario to Nailgun capsule-sync
  tests/upgrades/test_capsule.py
Labels: 6.3, Upgrade Scenario

#6622 Fixed test_positive_update_gpg TypeError
  tests/foreman/api/test_repository.py
Labels: 6.5, API, qe_test_coverage, test-failure

#6603 update sync interval api fix
  tests/foreman/api/test_syncplan.py
Labels: 6.5, API, test-failure

#6626 Added skip_if_bug_open for 1655239
  tests/foreman/cli/test_repository_set.py
Labels: 6.5, CLI, qe_test_coverage, test-failure

#6606 Configure the puppet-agent with external capsule host
  robottelo/vm.py
Labels: enhancement

#6473 Ported UI content host tests
  robottelo/cli/factory.py
  robottelo/products.py
  tests/foreman/ui/test_contenthost.py
  tests/foreman/ui_airgun/conftest.py
  tests/foreman/ui_airgun/test_bookmark.py
  tests/foreman/ui_airgun/test_contenthost.py
Labels: 6.5, UI, review

#6637 updated error messages
  tests/foreman/cli/test_repository.py
Labels: 6.5, CLI, qe_test_coverage, test-failure

#6584 [6.5] UI Port errata tests
  tests/foreman/ui/test_errata.py
  tests/foreman/ui_airgun/test_errata.py
Labels: 6.5, UI, review

#6630 Added sleep to load repoinfo
  tests/foreman/cli/test_repository.py
Labels: 6.5, CLI, qe_test_coverage, test-failure

#6640 updated env id as per ak env
  tests/upgrades/test_capsule.py
Labels: 6.5, Upgrade Scenario

#6643 [Cherry-pick 6.4.z ] updated env id as per ak env
  tests/upgrades/test_capsule.py
Labels: 6.4, Upgrade Scenario

#6644 [Cherry-pick 6.3.z ]updated env id as per ak env
  tests/upgrades/test_capsule.py
Labels: 6.3, Upgrade Scenario

#6585 [API] Added coverage around ldap user tests
  robottelo.properties.sample
  robottelo/config/base.py
  tests/foreman/api/test_role.py
  tests/foreman/api/test_user.py
Labels: 6.5, API, qe_test_coverage, review

#6601 Helper to install\remove external Capsule katello-ca
  robottelo/vm.py
Labels: enhancement, qe_test_coverage

#6653 Fixes test_hammer.py::HammerCommandsTestCase::test_positive_all_options
  robottelo/cli/hammer.py
  tests/foreman/cli/test_hammer.py
  tests/foreman/data/hammer_commands.json
Labels: 6.5, CLI, review, test-failure

#6658 fixed the install_capsule_katello_ca
  robottelo/vm.py
Labels: 6.5, qe_test_coverage

#6532 Reporting stubs
  tests/foreman/api/test_reporttemplates.py
  tests/foreman/cli/test_reporttemplates.py
  tests/foreman/ui_airgun/test_reporttemplates.py
Labels: review

#6660 Automated REX Satellite-Cient scenario
  tests/upgrades/test_remoteexecution.py
Labels: 6.5, Upgrade Scenario

#6666 [cherry-pick 6.4.z]Automated secnario to cover REX with external Capsule
  robottelo/helpers.py
  tests/upgrades/test_remoteexecution.py
Labels: 6.4, Upgrade Scenario, qe_test_coverage

#6673 Fixes 6.5.0 decorated tests got deselected as missing in VFLAGS
  robottelo/bz_helpers.py
Labels: 6.5, Infrastructure, review

#6672 Fixes subscription access_with_non_admin_user_with_manifest
  tests/foreman/ui_airgun/test_subscription.py
Labels: 6.5, UI, review

#6669 Fixes discoveredhosts update_default_taxonomies
  tests/foreman/ui_airgun/test_discoveredhost.py
Labels: 6.5, UI, review

#6667 [cherry-pick 6.3.z]Automated secnario to cover REX with external Capsule
  robottelo/helpers.py
  tests/upgrades/test_remoteexecution.py
Labels: 6.3, Upgrade Scenario, qe_test_coverage

#6677 Content-host subscription auto-attach in upgrade
  tests/upgrades/test_subscription.py
Labels: 6.5, Upgrade Scenario, qe_test_coverage

#6675 reduce occasional timeouts in ansible rex recurring job test
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.5, CLI

#6684 Fixes 6.5 UI contentview test_positive_publish_with_force_puppet_env
  tests/foreman/ui_airgun/test_contentview.py
Labels: 6.5, UI, review, test-failure

#6540 [6.4.z] cherry-pick ansible rex job
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.4, CLI

#6410 Removed redundant and deprecated call to configparser.readpf
  robottelo/config/base.py
Labels: review

#6698 Fixes flake8 E117 and F632
  robottelo/api/utils.py
  robottelo/helpers.py
  robottelo/ui/medium.py
  tests/foreman/cli/test_vm_install_products_package.py
  tests/foreman/ui/test_computeresource_ec2.py
  tests/foreman/ui/test_navigation.py
  tests/foreman/ui_airgun/test_hostcollection.py
  tests/robottelo/test_func_locker.py
Labels: Urgent Priority, review

#6642 Ported some UI docker tests
  tests/foreman/ui/test_docker.py
  tests/foreman/ui_airgun/test_activationkey.py
  tests/foreman/ui_airgun/test_computeresource.py
  tests/foreman/ui_airgun/test_contentview.py
  tests/foreman/ui_airgun/test_repository.py
  tests/foreman/ui_airgun/test_sync.py
Labels: 6.5, UI, review

#6682 [Cherry-pick 6.4.z] Automated REX Satellite-Client scenario
  tests/upgrades/test_remoteexecution.py
Labels: 6.4, Upgrade Scenario, qe_test_coverage

#6690 Add end to end scenario to user groups entity
  tests/foreman/ui_airgun/test_usergroup.py
Labels: 6.5, UI, review
