Repository SatelliteQE/robottelo, pull requests merged in 2019-10, with the labels that each got.

#7363 add test for tasks dashboard
  tests/foreman/ui/test_dashboard.py
Labels: 6.6

#7383 test on updating host location via hammer
  tests/foreman/cli/test_host.py
Labels: CLI, qe_test_coverage

#7387 Doc for headless browseroption
  docs/index.rst
Labels: review

#7399 [Cherry Pick] Updated pytest version from 4.0.2 to 4.6.3
  requirements.txt
  robottelo/decorators/__init__.py
  tests/foreman/conftest.py
  tests/robottelo/test_decorators.py
  tests/upgrades/conftest.py
Labels: 6.5

#7391 added test case for bugzilla 1745575
  tests/foreman/cli/test_product.py
Labels: CLI, qe_test_coverage

#7407 Added test around BZ#1667129
  tests/foreman/api/test_product.py
Labels: API, qe_test_coverage

#7411 Added test around BZ #1710853
  tests/foreman/api/test_hostgroup.py
Labels: 6.6, API

#7179 report templates cli tests
  robottelo/cli/factory.py
  robottelo/cli/report_template.py
  robottelo/cli/template_input.py
  robottelo/constants.py
  tests/foreman/cli/test_reporttemplates.py
  tests/foreman/data/report_template.txt
Labels: 6.6, CLI, review

#7405 Add 2 testcases for virt-who automation
  tests/foreman/virtwho/test_ui_virtwho.py
  tests/foreman/virtwho/utils.py
Labels: Tier 1 ACK, Tier 2 ACK

#7413 add test coverage for task list search
  robottelo/cli/task.py
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.6, CLI, qe_test_coverage

#7423 Closed Loop: added automation for bugzilla 1639390
  robottelo/api/utils.py
  tests/foreman/api/test_contentview.py
Labels: Tier 1 ACK, Tier 2 ACK, qe_test_coverage

#7432 Fix sattools rhel7 key error for client upgrade scenario
  tests/upgrades/test_client.py
Labels: Tier 1 ACK, Tier 2 ACK

#7418 Add tests related to ignorable_content for SRPM
  robottelo/constants.py
  tests/foreman/api/test_repository.py
Labels: qe_test_coverage

#7392 bugzilla was added on test hardware model
  tests/foreman/ui/test_hardwaremodel.py
Labels: review

#7434 add katello resources to audit test case
  tests/foreman/api/test_audit.py
Labels: UI, qe_test_coverage

#7431 Added SRPM CLIs tests
  robottelo/cli/srpm.py
  tests/foreman/cli/test_repository.py
Labels: 6.7, CLI, DO NOT MERGE

#7426 Closed Loop: added test coverage for bugzilla 1649011
  tests/foreman/cli/test_operatingsystem.py
Labels: qe_test_coverage

#7429 test for cloning job templates with foreign input
  tests/foreman/ui/test_jobtemplate.py
Labels: 6.6, Tier 1 ACK, Tier 2 ACK, UI, qe_test_coverage

#7425 Closed loop: BZ1750924
  tests/foreman/cli/test_reporttemplates.py
Labels: Tier 2 ACK

#7427 cover 1694199
  tests/foreman/api/test_role.py
Labels: 6.6, Tier 1 ACK, Tier 2 ACK, qe_test_coverage
