Repository SatelliteQE/robottelo, pull requests merged in 2019-09, with the labels that each got.

#7325 Added support for n-1 katello-agent for 6.4 to 6.5 path
  robottelo/constants.py
  tests/upgrades/test_errata.py
Labels: 6.5, Upgrade Scenario

#7332 ui test dashboard failure
  tests/foreman/ui/test_dashboard.py
Labels: 6.6, UI, test-failure

#7337 ui hosts test refactoring
  tests/foreman/ui/test_host.py
Labels: 6.6, UI

#7326 refactor the upgrade scenario errata
  tests/upgrades/test_errata.py
Labels: Upgrade Scenario

#7343 updated the repo url
  robottelo/constants.py
Labels: test-failure

#7341 add post upgrade test around Bug #1746589
  tests/upgrades/test_capsule.py
Labels: 6.6, Upgrade Scenario

#7365 Fix make uuid-fix to catch multiple whitespaces.
  scripts/fix_uuids.sh
Labels: enhancement

#7369 added test around 'Recommended Repositories'
  robottelo/constants.py
  tests/foreman/ui/test_repository.py
Labels: 6.6, UI
