Repository SatelliteQE/robottelo, pull requests merged in 2019-08, with the labels that each got.

#7239 Explictly unset taxonomies upon the role cloning
  tests/foreman/api/test_role.py
Labels: 6.6, API, test-failure

#7234 refactoring and reducing time instead of read all tabs
  tests/foreman/ui/test_contenthost.py
Labels: UI

#7254 add new option to validation error msg
  robottelo/config/base.py
Labels: 6.6

#7186 Date format has been changed
  tests/foreman/ui/test_errata.py
Labels: UI, test-failure

#7213 test_domain positive tests refactoring
  tests/foreman/cli/test_domain.py
Labels: 6.6, CLI

#7260 cli/test_product.py tests merged into one CRUD test
  tests/foreman/cli/test_product.py
Labels: 6.6, CLI

#7191 fix option name in location test
  robottelo/cli/factory.py
  tests/foreman/cli/test_location.py
Labels: 6.6, CLI, test-failure

#7240 some ui org tests refactored
  tests/foreman/ui/test_organization.py
Labels: 6.6, UI

#7229 ui test_smartvariable refactor
  tests/foreman/ui/test_smartvariable.py
Labels: 6.6, UI

#7274 refactoring all read calls with widget names and reduce execution time
  tests/foreman/ui/test_activationkey.py
  tests/foreman/ui/test_computeresource_ec2.py
  tests/foreman/ui/test_contenthost.py
  tests/foreman/ui/test_discoveryrule.py
  tests/foreman/ui/test_host.py
  tests/foreman/ui/test_hostcollection.py
  tests/foreman/ui/test_location.py
  tests/foreman/ui/test_partitiontable.py
  tests/foreman/ui/test_product.py
  tests/foreman/ui/test_role.py
Labels: UI

#7261 Added helper to update content in template
  robottelo/api/utils.py
Labels: 6.6, API, enhancement

#7275 refactor smart class params ui tests
  tests/foreman/ui/test_smartclassparameter.py
Labels: 6.6, UI

#7277 Fix name already taken error
  tests/foreman/ui/test_ldap_authentication.py
Labels: UI, review

#7270 fixed remote execution ui tests
  tests/foreman/ui/test_remoteexecution.py
Labels: UI, test-failure

#7280 puppet environment review
  tests/foreman/ui/test_puppetenvironment.py
Labels: 6.6, UI

#7245 some ui location tests merged
  tests/foreman/ui/test_location.py
Labels: 6.6, UI

#7283 skip dashboard discovery test
  tests/foreman/ui/test_dashboard.py
Labels: 6.6, test-failure

#7264 GCE Host Provision E2E
  robottelo/api/utils.py
  robottelo/helpers.py
  tests/foreman/ui/test_computeresource_gce.py
  tests/foreman/ui/test_host.py
Labels: 6.6, DO NOT MERGE, review

#7295 Using browser's date time instead of server where test running
  tests/foreman/ui/test_remoteexecution.py
Labels: UI, test-failure

#7307 fixed assertion for wrong value type
  tests/foreman/api/test_classparameters.py
Labels: 6.6, API, test-failure

#7305 template kind identification issue
  tests/foreman/cli/test_location.py
Labels: CLI, test-failure

#7300 cli host test refactoring
  tests/foreman/cli/test_host.py
Labels: CLI

#7310 part of test moved to another
  tests/foreman/ui/test_location.py
Labels: UI, test-failure

#7322 fix-assert-test-create-matcher
  tests/foreman/ui/test_smartvariable.py
Labels: 6.6, UI, test-failure

#7311 ui dashboard tests reorganized
  tests/foreman/ui/test_contenthost.py
  tests/foreman/ui/test_contentview.py
  tests/foreman/ui/test_dashboard.py
  tests/foreman/ui/test_discoveredhost.py
  tests/foreman/ui/test_host.py
  tests/foreman/ui/test_hostcollection.py
  tests/foreman/ui/test_location.py
  tests/foreman/ui/test_repository.py
  tests/foreman/ui/test_subscription.py
Labels: 6.6, UI, test-failure

#7319 tests merged into one end to end test
  tests/foreman/cli/test_host_collection.py
Labels: 6.6, CLI

#7313 GCE Host Provisioning - CloudInit
  robottelo/api/utils.py
  tests/foreman/ui/test_host.py
Labels: 6.6, review
