Repository SatelliteQE/robottelo, pull requests merged in 2020-02, with the labels that each got.

#7593 updating distro parameters
  tests/foreman/ui/test_jobinvocation.py
  tests/foreman/ui/test_remoteexecution.py
Labels: 6.7, UI, test-failure

#7597 modified distro collection
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.7, CLI, test-failure

#7572 Add virt-who upgrade scenarios
  robottelo/virtwho_utils.py
  tests/upgrades/test_virtwho.py
Labels: Upgrade Scenario

#7613 test for manual mode in remote execution
  robottelo/constants.py
  tests/foreman/ui/test_remoteexecution.py
Labels: 6.7, UI

#7551 fixed cli location crud test
  tests/foreman/cli/test_location.py
Labels: 6.7, CLI, test-failure

#7625 Added API tests around AzureRM - Part1
  tests/foreman/api/test_computeresource_azurerm.py
  tests/foreman/conftest.py
Labels: API, review

#7648 add BZ skip to rex effective user test
  tests/foreman/cli/test_remoteexecution.py
Labels: 6.7, CLI

#7640 Add test syspurpose end to end
  tests/foreman/cli/test_host.py
Labels: GoodStarterIssue

#7638 automation failure, power hosts permissions in host filter was missing
  tests/foreman/ui/test_host.py
Labels: review, test-failure
