Repository SatelliteQE/robottelo, pull requests merged in 2020-09, with the labels that each got.

#7952 Adding skip due to BZ:1850934
  tests/foreman/api/test_computeresource_azurerm.py
  tests/foreman/cli/test_computeresource_azurerm.py
  tests/foreman/ui/test_computeresource_azurerm.py
Labels: API, CLI, UI

#7954 pytest conversion - cli/test_oscap_tailoringfiles.py
  pytest_fixtures/api_fixtures.py
  tests/foreman/api/test_oscap_tailoringfiles.py
  tests/foreman/api/test_oscappolicy.py
  tests/foreman/cli/test_oscap_tailoringfiles.py
  tests/foreman/ui/test_oscappolicy.py
  tests/foreman/ui/test_oscaptailoringfile.py
Labels: Tier 2 ACK, pytestConversion

#7967 some delay in check after org creation
  robottelo/cli/base.py
Labels: 6.8, CLI, test-failure

#7968 removed unnecessary replace from user CRUD test
  tests/foreman/cli/test_user.py
Labels: 6.8, CLI, test-failure

#7970 convert cli/domain to pytest
  tests/foreman/cli/conftest.py
  tests/foreman/cli/test_domain.py
Labels: CLI, pytestConversion

#7971 [qe_test-coverage] - added qe coverage for bugzilla 1873439
  tests/foreman/ui/test_ldap_authentication.py
Labels: UI, qe_test_coverage, ready, review

#7947 [qe_test-coverage] - Install modular errata using katello-agent bugzilla 1713417
  tests/foreman/ui/test_contenthost.py
Labels: qe_test_coverage, ready, review

#7960 Fix test_hammer.py::HammerCommandsTestCase::test_positive_all_options
  robottelo/cli/hammer.py
  tests/foreman/data/hammer_commands.json
  tests/robottelo/test_hammer.py
Labels: test-failure

#7930 convert cli/medium to pytest
  tests/foreman/cli/test_medium.py
Labels: 6.8, CLI, pytestConversion

#7926 convert api/media tests to pytest
  tests/foreman/api/test_media.py
Labels: 6.8, API, pytestConversion

#7975 Test: onthefly functionality
  tests/foreman/ui/test_ldap_authentication.py
Labels: 6.8, UI, ready

#7811 convert api location test to pytest
  tests/foreman/api/test_location.py
Labels: API, pytestConversion

#7984 Fix repo, remove modular errata
  robottelo/constants.py
  tests/foreman/ui/test_errata.py
Labels: ready

#7899 canned role fix
  tests/foreman/api/test_role.py
Labels: 6.8, API, test-failure

#7842 realm tests moved to pytest
  tests/foreman/cli/test_realm.py
Labels: 6.8, CLI, Tier 1 ACK, pytestConversion

#7986 Convert cli/role to pytest
  tests/foreman/cli/test_role.py
Labels: CLI, pytestConversion

#7991 Use API fixture in cli/domain tests
  tests/foreman/cli/conftest.py
  tests/foreman/cli/test_domain.py
Labels: 6.8, CLI

#7992 Fix AzureRM assertions
  tests/foreman/ui/test_computeresource_azurerm.py
Labels: Tier 1 ACK, review

#7999 fix valid_data_list usage in api/test_template.py
  tests/foreman/api/test_template.py
Labels: Tier 1 ACK, test-failure

#8001 Change environment_id to environment_ids (#8000)
  tests/foreman/ui/test_hostcollection.py
Labels: GoodStarterIssue, test-failure

#8002 Update to RHBA-2020:1455 for rhst7
  robottelo/constants.py
Labels: GoodStarterIssue, Tier 1 ACK, ready

#7996 test syspurpose fix
  tests/foreman/cli/test_host.py
Labels: 6.8, Tier 1 ACK, ready, test-failure

#7982 Adding a "remove subs from a host collection" step
  tests/foreman/api/test_hostcollection.py
Labels: qe_test_coverage

#8005 fix to use subscription entity
  tests/foreman/api/test_hostcollection.py
Labels: Tier 1 ACK, Tier 2 ACK

#7978 New structure for virt-who plugin cases
  robottelo/config/virtwho.py
  robottelo/virtwho_utils.py
  tests/foreman/virtwho/api/__init__.py
  tests/foreman/virtwho/api/test_esx.py
  tests/foreman/virtwho/api/test_hyperv.py
  tests/foreman/virtwho/api/test_kubevirt.py
  tests/foreman/virtwho/api/test_libvirt.py
  tests/foreman/virtwho/api/test_rhevm.py
  tests/foreman/virtwho/api/test_xen.py
  tests/foreman/virtwho/cli/__init__.py
  tests/foreman/virtwho/cli/test_esx.py
  tests/foreman/virtwho/cli/test_hyperv.py
  tests/foreman/virtwho/cli/test_kubevirt.py
  tests/foreman/virtwho/cli/test_libvirt.py
  tests/foreman/virtwho/cli/test_rhevm.py
  tests/foreman/virtwho/cli/test_xen.py
  tests/foreman/virtwho/test_ui_virtwho.py
  tests/foreman/virtwho/ui/__init__.py
  tests/foreman/virtwho/ui/test_esx.py
  tests/foreman/virtwho/ui/test_hyperv.py
  tests/foreman/virtwho/ui/test_kubevirt.py
  tests/foreman/virtwho/ui/test_libvirt.py
  tests/foreman/virtwho/ui/test_rhevm.py
  tests/foreman/virtwho/ui/test_xen.py
Labels: Tier 1 ACK, enhancement, ready, review
