Repository SatelliteQE/robottelo, pull requests merged in 2020-03, with the labels that each got.

#7670 moved manifest upload from setupclass
  tests/foreman/sys/test_rename.py
Labels: 6.7, SYS

#7675 Check the virt-who status post upgrade via CLI
  tests/upgrades/test_virtwho.py
Labels: Upgrade Scenario

#7690 Fix content_overrides is an array (#7658)
  tests/foreman/endtoend/test_api_endtoend.py
  tests/foreman/longrun/test_inc_updates.py
Labels: GoodStarterIssue

#7689 Ignore note about deprecation of Puppet and OSTree in future katello version
  robottelo/cli/hammer.py
Labels: test-failure

#7693 slight change in rename error message
  tests/foreman/sys/test_rename.py
Labels: 6.7, SYS, test-failure

#7656 Fix documentation build and add autoapi
  .travis.yml
  docs/Makefile
  docs/api/index.rst
  docs/api/robottelo.api.rst
  docs/api/robottelo.cli.rst
  docs/api/robottelo.decorators.rst
  docs/api/robottelo.rst
  docs/api/robottelo.ui.rst
  docs/api/tests.foreman.api.rst
  docs/api/tests.foreman.cli.rst
  docs/api/tests.foreman.endtoend.rst
  docs/api/tests.foreman.installer.rst
  docs/api/tests.foreman.longrun.rst
  docs/api/tests.foreman.rhai.rst
  docs/api/tests.foreman.rhci.rst
  docs/api/tests.foreman.rst
  docs/api/tests.foreman.sys.rst
  docs/api/tests.foreman.virtwho.rst
  docs/api/tests.robottelo.rst
  docs/api/tests.rst
  docs/conf.py
  docs/features/decorators.rst
  docs/index.rst
  requirements-optional.txt
  robottelo/api/utils.py
  robottelo/cli/hammer.py
  robottelo/cli/virt_who_config.py
  robottelo/config/base.py
  robottelo/decorators/func_shared/shared.py
  robottelo/helpers.py
  robottelo/libvirt_discovery.py
  robottelo/products.py
  robottelo/ssh.py
  robottelo/ui/utils.py
  robottelo/virtwho_utils.py
  robottelo/vm.py
  scripts/gen_api_docs.sh
  tests/foreman/endtoend/test_cli_endtoend.py
  tests/foreman/ui/test_discoveredhost.py
  tests/robottelo/api/test_assertions.py
  tests/robottelo/decorators/test_host.py
  tests/upgrades/conftest.py
  tests/upgrades/test_client.py
  tests/upgrades/test_errata.py
  tests/upgrades/test_performance_tuning.py
  tests/upgrades/test_repository.py
  tests/upgrades/test_subnet.py
  tests/upgrades/test_yum_plugins.py
Labels: Documentation

#7694 added new permissions
  robottelo/constants.py
Labels: 6.7, API, test-failure

#7672 Usergroup refactor
  tests/foreman/cli/test_usergroup.py
Labels: 6.7, CLI

#7644 modified assert in test org end-to-end
  tests/foreman/ui/test_organization.py
Labels: 6.7, UI, test-failure

#7665 User api and cli tests refactored
  robottelo/cli/user.py
  tests/foreman/api/test_user.py
  tests/foreman/cli/test_user.py
Labels: 6.7, API, CLI

#7708 Remove unwanted swp file
  .robottelo.properties.swp
Labels: GoodStarterIssue, High Priority

#7704 AzureRm UI part-1
  tests/foreman/ui/test_computeresource_azurerm.py
Labels: review
